
.tarjeta {
  max-width: 60vw;
  margin: 48px auto;
  display: block;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}
.contenido {
  display: flex;
}
@media (max-width: 1024px){
  .contenido{
  flex-direction: column;
  }
  .tarjeta {
   max-width: 95vw;
  }
}
.ladoIzq, .ladoDer {
  width: 100%;
}
.ladoDer img {
   
  border-style: none;
}
.ladoIzq {
  background: black;
  color: white;
  padding: 38px
}
.btn {
  display: inline-block;
  background: white;
  margin-right: 4px;
  padding: 14px;
  border-radius: 5px;
  margin-top: 18px;
}
a.btn{
   text-decoration: none;
}
a.btn:first-of-type {
   background: #5252b4;
   color: white;
}
a.btn:hover{
   opacity: 0.8;
}
.img_detalle{
    margin-left: 108px;
}